/AIShellAn.Webapp/node_modules
/AIShellAn.Webapp/yarn.lock
/AIShellAn.Webapp/package-lock.json
/AIShellAn.Server/AIShellAn.Server/obj
/AIShellAn.Server/AIShellAn.Server/bin
/AIShellAn.Server/AIShellAn.Server/AIShellAn.Server.csproj.user
/AIShellAn.Server/.vs
/.gitee
